absl-py==1.0.0
asgiref==3.5.1
astunparse==1.6.3
boto3==1.23.0
botocore==1.26.0
braintree==4.15.2
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
Django
django-cors-headers
django-s3direct
django-storages
djangorestframework
flatbuffers
fonttools
gast=
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.1
h5py==3.6.0
idna==3.3
importlib-metadata
jmespath==1.0.0
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
Markdown==3.3.7
matplotlib==3.5.2
mysqlclient
numpy
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pickle-mixin==1.0.2
Pillow==9.1.0
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
scikit-learn
scipy
six
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp
